---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import PostCardList from "@components/ui/PostCardList.astro";

//import collections
import { getCollection } from "astro:content";
const products = await getCollection("products");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<main class="min-w-full flex-grow">
			<!-- Most Wanted -->
			<section class="section mx-auto py-[6%]">
				<!-- Block for title and subtitle -->
				<div
					class="container w-[95%] max-w-[84rem] mx-auto space-y-8 lg:space-y-12"
				>
					<div class="grid md:grid-cols-2 gap-6 lg:gap-8 items-start">
						<!-- Rendering title -->
						<h2
							class="text-balance text-3xl font-bold text-neutral-800 md:text-4xl xl:text-5xl"
						>
							Shop all our finds of the last 90 days
						</h2>
						<!-- Rendering subtitle -->

						<p class="text-lg lg:text-xl text-pretty text-neutral-800">
							Here, find all the items seen on our social media account, and the most searched items over time on Nice
							and Cosy home website and Instagram feed, in the
							last 90 days.
						</p>
					</div>
					<div
						class="grid md:grid-cols-2 gap-6 lg:grid-cols-3 lg:gap-8 md:items-center"
					>
						<!-- Block to display the card-product components -->
						<div
							class="col-span-3 grid gap-8 lg:grid-cols-2 lg:gap-8"
						>
							<!-- Injecting Most wanted components with different properties -->

							{
								products.map((products) => (
									<div class="flex flex-col rounded-xl border bg-white shadow-sm">
										<img
											class="h-auto max-h-64 w-full rounded-t-xl object-cover object-bottom"
											src={products.data.imgCard}
											alt={products.data.imgAlt}
										/>
										<div class="p-4 md:p-5">
											<h3 class="text-lg font-semibold text-gray-800">
												{products.data.title}
											</h3>
											<p class="mt-1 mb-6 text-gray-700">
												{products.data.description}
											</p>
											<a
												class="group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-semibold text-neutral-50 ring-orange-500 transition duration-300 focus-visible:ring outline-none
									bg-orange-500 hover:bg-orange-500/90 hover:text-orange-50 active:bg-orange-500"
												href="#"
											>
												Buy On Amazon
												<svg
													class="flex-shrink-0 size-4"
													xmlns="http://www.w3.org/2000/svg"
													width="24"
													height="24"
													viewBox="0 0 24 24"
													fill="none"
													stroke="currentColor"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"
												>
													<path d="m9 18 6-6-6-6" />
												</svg>
											</a>
										</div>
									</div>
								))
							}
						</div>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
